@media only screen and (max-width: 600px) {
    .sideImg{
        display: none;
    }
    nav{
        display: none;
    }
    #menu{
        top: 5px;
    }
    #menu img{
        height: 114px;
        transform-origin: center;
        left: 20px;
        
    }
    #logo{
        top: 26px;
        z-index: 15;
    }
    #logo h3, #logo img{
        display: none;
    }
    #bars{
        top: 0px;
    }
    .centerImg{
        margin-top: 80px;
    }
    .centerImg img{
        display: block;
    }
    #centerBtn{
        bottom: 10px;
        border-radius: 40px 40px 10px 10px;
    }
}