body{
    font-family: 'Unica One', cursive;
    margin: 0;
    color: #000;
    overflow-x: hidden;
}


#menu{
    width: 100%;
    z-index: 12;
    top: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    
    
}
#menu img{
    height: 140px;
    left: 50%;
    top: -25%;
    position: absolute;
    transform: translate(-50%);

    
}
nav{
    height: 93px;
    width: 743px;
    background-color: #f0579752;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center; 
    border-radius: 93px;
    margin: auto;
}

#main{
    max-width: 3000px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
    width: 91%;
    height: 89vh;
    margin-top: 40px;
    margin-inline: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
header svg{
    width: 0;
    height: 0;
}
header  img {
    width: 100%;
}
.sideImg{
    width: 350px;

    transform-origin: top;
    transform: scale(1.1);
    /* display: none; */
}
.centerImg{
    width: 350px;

    transform-origin: top;
    position: relative;
    margin: auto;
    transform: scale(1.1);
}
.centerImg img{
    display: none;
}
#centerBtn{

    width: 236px;
    height: 59px;
    font-size: 24px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #DBC3EC;
    color: #67249B;
    border-radius: 59px;
    transform: translate(-50%);
    bottom: -300px;
}
#logo{
    color: #4F2356;
    left: 50%;
    margin: 0;
    z-index: 10;
    top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%);
}
#logo h1{
    font-family: 'Scope One', serif;
    height: 140px;
    font-size: 128px;
    margin: 0;
}
#logo h3{
    display: block;
    width: 311px;
    text-align: center;
    font-size: 32px;
    margin: 0;

}
h3 span{
    font-size: 36px;
    color: #8356A7;
}
#bars{
    width: 386px;
    height: 281px;
    left: 50%;
    z-index: 0;
    opacity: 36%;
    top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translate(-50%);
}
.bar{
    width: 44px;
    height: 200px;
    background-color: #BA92C3;
    border-radius: 44px;
}
#slider{
    width: 1309px;
    height: 190px;
    display: flex;
    justify-content: center;
    position: relative;
}
#slider img{
    width: 111px;
}
.zab{
    margin-inline: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 207px;
    font-size: 28px;
    height: min-content;
    text-align: center;
    cursor: pointer;
}
.zab p{
    margin: 0;
}
#pointer{
    width: 207px;
    height: 10px;
    background: #DCB1DD;
    border-radius: 10px;
    position: absolute;
    transition: .1s;
}
#sliderContent{
    width: calc(2064px + 100vw);
    margin-left: calc(100vw + 1032px);
    margin-top: 20px;
    height: 521px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0s;
}
.slide{
    width: 1032px;
    height: 521px;
    background: linear-gradient(255.7deg, rgba(202, 148, 235, 0.43) 0%, rgba(219, 118, 255, 0.41) 50%, rgba(191, 142, 206, 0.68) 100%);
    font-size: 40px;
}
.clilked{
    margin-left: calc(-100vw - 1032px) !important;
    transition: .3s !important;
}
